
   html { height: 100%; }
   body {
	margin-top: 100px;
	padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background: url(https://i.imgur.com/BNKoSvg.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   } 


.main {
		width: 1200px;
		height: 700px;
		background: silver;
        margin: 0 auto;
		}
		
  #navbar ul {
  display: none;
  background-color: #f90;
  position: absolute; 
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 60px;
  background-color: #666;
  padding-left: 0px;
  width: 1200px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  
  width: 200px;
  height: 60px;
  color: #fff;
  
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }
 


.vertical-menu {
	text-align: center;
    display: flex;
	justify-content: center;
	flex-direction: column; 
	aling-items: center;
	height: 80%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    padding: 12px;
    text-decoration: none;
	margin-top: 10px;
}

.vertical-menu a:hover {
    background-color: #f90;
}

.center {
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80%;
	
}

.table {
	width: 80%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
.table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
